.logo-svg {
    font-family: $font-sans-serif;
    font-size: 62px;
    font-weight: bold;
    width: 100%;
    height: auto;
}

.section {
    margin-bottom: 2.714rem;
    padding: 0 2rem;
    &_footer {
        margin: 0;
    }
}

.container {
    margin: 0 auto;
    width: 100%; 
    max-width: 1010px;
}

.box {
    padding: 1.714rem;
}

.main-content {
    margin-bottom: 1.571rem;
}


// .article {
//     width: 100px;
      
//     &__title {
//         font-size: 20px;
//         font-weight: 500;
//     }
 
//     &--wide {
//         width: 200px;
//     }
// }