$white: #fff;
$light-grey: #e6e6e6;
$grey: #cccccc;
$darker-grey: #666666;
$dark-grey: #4d4d4d;
$darkest-grey: #333;
$black: #000;
$light-pink: #ffc2dd;
$pink: #d3135a;
$blue: #0071bc;

$font-sans-serif: "Trebuchet MS", Helvetica, sans-serif;
$font-serif: "Times New Roman", Times, serif; 